
/*Max-width 467*/

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body{
  font-family: "Rethink Sans", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
      font-size: inherit;
        font-weight: inherit;
}

.container{
  padding: 32px 32px 120px;
  /*Top Right&Left Bottom*/
  border-bottom: 1px solid #E8EBEF;
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.title {
  font-size: 60px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.01em;
  color: #000;
}

.text{
  font-size: 18px;
  letter-spacing: -0.01em;
  color: #575757;
}
/*SIDEBAR*/

.sidebar {
  border-right: 1px solid #E8EBEF;
  
  position: fixed;
  top: 0; 
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #fff;

  
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* gap: 24px; */

}

.sidebar__logo {
  border-bottom: 1px solid #E8EBEF;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  height: 12px;

}

.sidebar__logo img {
  display: flex;
  flex-shrink: 1;
  width: 100%;
  max-width: 51px;
  height: auto;
  display: block;

}

.sidebar__links, .sidebar__actions{
    
    padding-left: 32px;
    padding-top: 24px;
    padding-bottom: 30px;

    display: flex;
    flex-direction: column;
}

.sidebar__links{
  border-bottom: 1px solid #E8EBEF;
  gap: 10px;
}

.sidebar__links a sup {
  font-family: "Rethink Sans", sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #575757;

  transition: color 0.25s ease-in-out;
}

.sidebar__links a:hover sup {
  color: #F45F00;
}

.sidebar__link, .sidebar__action {

  text-decoration: none;
  transition: color 0.25s ease-in-out;

 
}

.sidebar__link{
color: #000;
display: flex;
flex-direction: column;

}

.sidebar__link:hover {
  color: #575757;
}

.sidebar__action{
  color: #575757;
}

.sidebar__action:hover {
  color: #A3A3A3
}


/*MAIN*/

.main{
  margin-left: 250px;
  width: calc(100% - 250px);
  box-sizing: border-box;
  
}

.hero {
  width: 100%;
  height: 540px;
  overflow: hidden;
}

.hero__image{
  width: 100%;
  height: 100%;
  object-fit: cover;
   
  display: block;
}

/*GUIDELINES*/
.guidelines{
  display: flex;
 
  justify-content: space-between;
  align-items: start;


}

.guidelines__heading{
  display: flex;


}

.guidelines__title{

  display: flex;

  flex-shrink: 0;
  width: 419px;
  font-size: 60px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.01em;
  color: #000;

}

.guidelines__content{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.guidelines__text{
  display: flex;
  flex-shrink: 1;

  font-size: 18px;
  letter-spacing: -0.01em;  
  color: #575757;
}

/*CONTENTS*/
.contents{
  display: flex;
  
  justify-content: start;
  align-items: start;
  
}
.contents__heading{
  flex: 1;
 max-width: 467px;
}

.contents__content{
  flex: 1;
  max-width: 467px;
}
.contents__title{
  font-size: 30px;
  font-weight: 500;
  color: #000;

}
.contents__list{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contents__item{
  color: #000;
  font-size: 30px;
}

.contents__item span{
  color: #575757;
}

/*BRAND STRATEGY*/

.brand-strategy{
  display: flex;
}

.brand-strategy__heading{
  flex: 1;
  display: flex;
  flex-direction: row;
  max-width: 467px;
}

.brand-strategy__content{
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex: 1;
  max-width: 467px;
 
  
}

.brand-strategy__title{
  max-width: 299px;

}
.title_span {
  color: #F45F00;
  margin-right: 16px;
}

.brand-strategy__text{
    display: flex;
    flex-shrink: 1;
  
   
  
}
.brand-strategy__image{
    display: block;
    width: 100%;
    height: auto;
}


/*PERSONALITY*/
.personality{
  display: flex;
  
}
.personality__heading{
 
    display: flex;
   
}

.personality__heading-title{
flex: 1;
  display: flex;

  max-width: 467px;
}

.personality__heading-text{
  display: flex;
  
   
    flex: 1;
    max-width: 467px;
}